In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('mobile_price_train.csv')
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [3]:
data['blue'].value_counts()

0    1010
1     990
Name: blue, dtype: int64

In [6]:
data.groupby(by='blue').size()

blue
0    1010
1     990
dtype: int64

In [8]:
data.groupby(by='blue').mean()

,battery_power,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
blue,,,,,,,,,,,,,,,,,,,,
0,1233.624752,1.504950,0.492079,4.294059,0.514851,31.306931,0.500594,140.550495,4.438614,9.976238,648.126733,1269.283168,2095.920792,12.318812,5.764356,10.935644,0.774257,0.498020,0.517822,1.477228
1,1243.511111,1.539899,0.527273,4.325253,0.528283,32.801010,0.502929,139.941414,4.604040,9.855556,642.028283,1233.388889,2153.076768,12.293939,5.769697,11.087879,0.748485,0.508081,0.495960,1.523232

In [9]:
data.groupby(by='blue').std()

,battery_power,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
blue,,,,,,,,,,,,,,,,,,,,
0,435.391348,0.812986,0.500185,4.330461,0.500027,17.970046,0.286463,35.657549,2.275542,6.131482,447.092326,438.162488,1084.063122,4.212556,4.440546,5.423293,0.418278,0.500244,0.499930,1.112135
1,443.653197,0.819106,0.499508,4.354753,0.499452,18.301480,0.290534,35.149955,2.298455,5.997501,440.581367,425.486754,1085.201375,4.216039,4.271084,5.506807,0.434103,0.500187,0.500236,1.124669

In [10]:
dif_mean = abs(1233.624752-1243.511111)
sed = np.sqrt((pow(435.391348,2)/1010) + (pow(443.653197,2)/990))
t = dif_mean/sed
print("t-value = ",t)

t-value =  0.5028735395416964

In [11]:
DF = (1010+990)-2
print("DF = ",DF)
#critical_value =

DF =  1998